<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e610.tvappseriesguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainScreen.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <activity
            android:name=".DetailedScreen.DetailedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <provider
            android:name=".Data.LocalDataSource.CotentProvider.SeriesProvider"
            android:authorities="tv_app.series_guide"
            android:exported="true" />

        <receiver android:name=".Widget.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service
            android:name=".Widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".LogInScreen.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      </application>

</manifest>